
@font-face {
  font-family: "KaushanScriptRegular";
  font-display: swap;
  font-weight: normal;
  font-style: normal;

  src:
  url("../../fonts/Regular/kaushan-regular.eot"),
  url("../../fonts/Regular/kaushan-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../fonts/Regular/kaushan-regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../../fonts/Regular/kaushan-regular.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "MontserratRegular";
  font-display: swap;
  font-weight: normal;
  font-style: normal;

  src:
  url("../../fonts/Regular/montserrat-regular.eot"),
  url("../../fonts/Regular/montserrat-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../fonts/Regular/montserrat-regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../../fonts/Regular/montserrat-regular.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "RobotoRegular";
  font-display: swap;
  font-weight: normal;
  font-style: normal;

  src:
  url("../../fonts/Regular/roboto-regular.eot"),
  url("../../fonts/Regular/roboto-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../fonts/Regular/roboto-regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../../fonts/Regular/roboto-regular.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "MontserratBold";
  font-display: swap;
  font-weight: normal;
  font-style: normal;

  src:
  url("../../fonts/Bold/Montserrat-Bold.eot"),
url("../../fonts/Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
url("../../fonts/Bold/Montserrat-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
url("../../fonts/Bold/Montserrat-Bold.woff") format("woff"); /* Modern Browsers */
}


