//------- colors ----------

$main-color: #95e1d3;
$assent-color: #f8f8f8;
$decor-color: #f38181;


$dark-font-color: #333333;
$light-font-color: #FFFFFF;
$assent-font-color: #999999;
$hover-font-color: #fce38a;
//------- fonts ----------



$handwritingFont: "KaushanScriptRegular", cursive;
$regularFont: "RobotoRegular", sans-serif;
$headingFont: "MontserratRegular", sans-serif;

$boldFont: "MontserratBold", sans-serif;

