.team-section, .team-single-section {
    padding-top: 150px;
}

.team-single-section {
    .parent-wrap {
        height: 60vh;
        margin-bottom: 25px;
        @media all and (min-width: 440px) {
            width: 71%;
        }
        @media all and (min-width: 550px) {
            width: 55%;
        }
        @media all and (min-width: 800px) {
            width: 42%;
        }
        @media all and (min-width: 900px) {
            width: 30%;
            height: 470px;
            margin-bottom: 28px;
        }
    }

}